* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(img/Sustainaloop-Background.jpg) no-repeat;
  background-size: cover;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(60px);
  background: rgba(50, 50, 50, 0.5);
}

.item {
  border-radius: 15px;
  width: 350px;
  height: 60px;
}

.item div{
  width: 175px;
  height: 60px;
  display: inline-block;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.content {
  width: 100%;
}

.content div {
  margin: 20px 30px;
  text-align: left;
  display: none;
}

p {
  color: white;
  margin-top: 30px;
  margin-bottom: 6px;
  font-size: 15px;
}

.content input[type="text"], .content input[type="password"] {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 0 10px;
  box-sizing: border-box;
}

.content input[type="submit"] {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(9,174,80,0.8);
  cursor: pointer;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.deactive {
  background: rgba(50, 50, 50, 0.5);
}

.item div:hover {
  background: rgba(255, 255, 255, 0.5);
}
