<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/globals.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="comparison-portal">
      <div class="div">
        <div class="overlap">
          <img class="image" src="/static/img/image-3.png" />
          <div class="text-wrapper">Update Location</div>
          <p class="p">Buyers near you: Mannheim 68167</p>
          <div class="overlap-group">
            <img class="img" src="/static/img/image-12.png" />
            <div class="text-wrapper-2">Search Buyers</div>
          </div>
          <div class="text-wrapper-3">Login</div>
          <div class="overlap-2">
            <div class="text-wrapper-4">Create an Account</div>
            <div class="ellipse"></div>
            <img class="image-2" src="/static/img/image-39.png" />
          </div>
          <img class="image-3" src="/static/img/image-38.png" />
        </div>
        <p class="text-wrapper-5">Waste Buyers Near You !</p>
        <div class="overlap-3">
          <div class="text-wrapper-6">Filters</div>
          <img class="line" src="/static/img/line-15.svg" />
          <div class="line-wrapper"><img class="line-2" src="/static/img/line-15.svg" /></div>
          <img class="line-3" src="/static/img/line-15.svg" />
          <div class="overlap-4">
            <div class="overlap-5">
              <img class="line-4" src="/static/img/line-15.svg" />
              <div class="text-wrapper-7">Sustainability rating</div>
            </div>
            <img class="image-4" src="/static/img/image-35.png" />
          </div>
          <div class="pickup-date">Pickup date</div>
          <div class="text-wrapper-8">Location</div>
          <div class="text-wrapper-9">Price level</div>
          <img class="image-5" src="/static/img/image-35.png" />
          <img class="image-6" src="/static/img/image-35.png" />
          <img class="image-7" src="/static/img/image-35.png" />
          <img class="image-8" src="/static/img/image-37.png" />
        </div>
        <div class="rectangle"></div>
        <div class="text-wrapper-10">€ 1.03 / Kilo</div>
        <div class="text-wrapper-11">€ 0 / Kilo</div>
        <div class="text-wrapper-12">€ 0.6 / Kilo</div>
        <div class="text-wrapper-13">Earliest pickup date: 28.11.2023</div>
        <div class="text-wrapper-14">Earliest pickup date: 29.11.2023</div>
        <div class="text-wrapper-15">Earliest pickup date: 28.11.2023</div>
        <div class="text-wrapper-16">Company name</div>
        <div class="text-wrapper-17">Company name</div>
        <div class="text-wrapper-18">Company name</div>
        <div class="overlap-6">
          <div class="text-wrapper-19">Sustainability rate:</div>
          <img class="image-9" src="/static/img/image-29.png" />
        </div>
        <div class="overlap-7">
          <div class="text-wrapper-19">Sustainability rate:</div>
          <img class="image-9" src="/static/img/image-29.png" />
          <img class="image-10" src="/static/img/image-29.png" />
        </div>
        <div class="overlap-8">
          <div class="text-wrapper-19">Sustainability rate:</div>
          <img class="image-9" src="/static/img/image-29.png" />
        </div>
        <div class="group">
          <div class="div-wrapper"><div class="text-wrapper-20">Details</div></div>
          <div class="overlap-9"><a href="{{ url_for('pickup') }}"><div class="text-wrapper-20">Order Pickup</div></a></div>
        </div>
        <div class="group-2">
          <div class="div-wrapper"><div class="text-wrapper-20">Details</div></div>
          <div class="overlap-9"><a href="{{ url_for('pickup') }}"><div class="text-wrapper-20">Order Pickup</div></a></div>
        </div>
        <div class="group-3">
          <div class="div-wrapper"><div class="text-wrapper-20">Details</div></div>
          <div class="overlap-9"><a href="{{ url_for('pickup') }}"><div class="text-wrapper-20">Order Pickup</div></a></div>
        </div>
        <img class="pavel-neznanov" src="/static/img/pavel-neznanov-w95fb7eecje-unsplash.png" />
        <div class="text-wrapper-21">€ 0.97 / Kilo</div>
        <div class="text-wrapper-22">Earliest pickup date: 28.11.2023</div>
        <div class="text-wrapper-23">Company name</div>
        <div class="overlap-10">
          <div class="text-wrapper-19">Sustainability rate:</div>
          <img class="image-9" src="/static/img/image-29.png" />
        </div>
        <div class="group-4">
          <div class="div-wrapper"><div class="text-wrapper-20">Details</div></div>
          <div class="overlap-9"><a href="{{ url_for('pickup') }}"><div class="text-wrapper-20">Order Pickup</div></a></div>
        </div>
        <img class="pavel-neznanov-2" src="/static/img/pavel-neznanov-w95fb7eecje-unsplash.png" />
        <div class="text-wrapper-24">€ 0.77 / Kilo</div>
        <div class="text-wrapper-25">Earliest pickup date: 30.11.2023</div>
        <div class="text-wrapper-26">Company name</div>
        <div class="overlap-11">
          <div class="text-wrapper-19">Sustainability rate:</div>
          <img class="image-9" src="/static/img/image-29.png" />
        </div>
        <div class="group-5">
          <div class="div-wrapper"><div class="text-wrapper-20">Details</div></div>
          <div class="overlap-9"><a href="{{ url_for('pickup') }}"><div class="text-wrapper-20">Order Pickup</div></a></div>
        </div>
        <img class="pavel-neznanov-3" src="/static/img/pavel-neznanov-w95fb7eecje-unsplash.png" />
        <img class="andrey-haimin" src="/static/img/andrey-haimin-q2fyzn-kjoq-unsplash.png" />
        <div class="text-wrapper-27">€ 0.05 / Kilo</div>
        <div class="text-wrapper-28">Wood mixed</div>
        <div class="text-wrapper-29">Aluminum mixed</div>
        <div class="text-wrapper-30">Aluminum mixed</div>
        <div class="text-wrapper-31">Wood mixed</div>
        <div class="text-wrapper-32">Aluminum shavings</div>
        <div class="text-wrapper-33">Plastic (PET)</div>
        <div class="text-wrapper-34">Earliest pickup date: 28.11.2023</div>
        <div class="text-wrapper-35">Company name</div>
        <div class="overlap-12">
          <div class="text-wrapper-19">Sustainability rate:</div>
          <img class="image-9" src="/static/img/image-29.png" />
        </div>
        <div class="group-6">
          <div class="div-wrapper"><div class="text-wrapper-20">Details</div></div>
          <div class="overlap-9"><a href="{{ url_for('pickup') }}"><div class="text-wrapper-20">Order Pickup</div></a></div>
        </div>
        <img class="andrey-haimin-qfyzn" src="/static/img/andrey-haimin-q2fyzn-kjoq-unsplash.png" />
        <img class="possessed" src="/static/img/possessed-photography-jg80mshfiho-unsplash.png" />
      </div>
    </div>
  </body>
</html>
