<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type = "text/css" href="../static/style_login3.css"/>
    
  </head>
  <body>
    <div class="control">
      <div class="item">
        <div class="active">Login</div><div class="deactive">Register</div>
      </div>
      <div class="content">
        <div style="display: block;">
          <p>User Name</p>
          <input type="text" placeholder="username" id="login-un"/>
          <p>Password</p>
          <input type="password" placeholder="password" id="login-pw"/>
          <br/>
          <a href="{{ url_for('dashboardlogged') }}"><input type="submit" value="Login" onclick="login()"/></a>
        </div>
        <div>
          <p>Business E-mail</p>
          <input type="text" placeholder="business e-mail" id="reg-email"/>
          <p>User Name</p>
          <input type="text" placeholder="set username" id="reg-un"/>
          <p>Password</p>
          <input type="text" placeholder="set password" id="reg-pw"/>
          <br/>
          <input type="submit" value="Send Verification" onclick="register()"/>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="login_pageChange.js"></script>
  <script type="text/javascript" src="loginAndRegister.js"></script>
</html>
