<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/globals.css" />
    <link rel="stylesheet" href="../static/pickupSubmitOrCancel.css" />
    <title>Order Submitted</title>
  </head>
  <body>
    <div class="pickup-order">
      <div class="div">
        <div class="overlap">
          <img class="image" src="../static/img/image-3.png" />
          <div class="overlap-group">
            <div class="ellipse"></div>
            <img class="screenshot-2" src="../static/img/screenshot-2023-11-08-at-20-53-4.png" />
          </div>
          <p class="p">Anne Mustermann</p>
          <div class="text-wrapper-2">MA Team</div>
        </div>
        <div class="board">
          <div class="result">Your order has been submitted!</div>
          <div class="return" onclick="returnToDashboard()">
            Return to Dashboard
          </div>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="pickupOrderFillIn.js"></script>
</html>
