<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/style2.css" />
  </head>
  <body>
    <div class="pickup-order">
      <div class="div">
        <div class="overlap">
          <img class="image" src="static/img/image-3.png" />
          <div class="overlap-group">
            <div class="ellipse"></div>
            <div class="text-wrapper">Logo of Customer</div>
          </div>
          <p class="p">Name of logged in person</p>
          <div class="text-wrapper-2">Name of Customer Firm</div>
        </div>
        <div class="rectangle"></div>
        <div class="div-wrapper"><div class="text-wrapper-3">Order pickup</div></div>
        <div class="overlap-2"><div class="text-wrapper-4">Save in templates</div></div>
        <div class="overlap-3"><a href="{{ url_for('cancel') }}"><div class="text-wrapper-5">Cancel</div></a></div>
        <div class="overlap-4">
          <div class="overlap-5">
            <div class="group">
              <div class="overlap-group-2">
                <div class="ellipse-2"></div>
                <div class="rectangle-2"></div>
              </div>
            </div>
            <div class="text-wrapper-6">Pickup date*</div>
            <div class="overlap-6">
              <div class="text-wrapper-7">Address</div>
              <div class="text-wrapper-8">Use sender information</div>
            </div>
            <div class="text-wrapper-9">Street and house number*</div>
            <div class="text-wrapper-10">City Code*</div>
            <div class="text-wrapper-11">Country*</div>
            <div class="overlap-7">
              <div class="text-wrapper-12">HH</div>
              <div class="text-wrapper-13">MM</div>
              <div class="text-wrapper-14">From</div>
              <div class="text-wrapper-15">:</div>
              <img class="line" src="static/img/line-6.svg" />
              <img class="img" src="static/img/line-6.svg" />
            </div>
            <div class="overlap-8">
              <div class="text-wrapper-12">HH</div>
              <div class="text-wrapper-13">MM</div>
              <div class="text-wrapper-14">Until</div>
              <div class="text-wrapper-15">:</div>
              <img class="line" src="static/img/line-6.svg" />
              <img class="img" src="static/img/line-6.svg" />
            </div>
            <img class="line-2" src="static/img/line-24.svg" />
            <img class="line-3" src="static/img/line-24.svg" />
            <img class="line-4" src="static/img/line-24.svg" />
            <img class="line-5" src="static/img/line-24.svg" />
            <img class="line-6" src="static/img/line-24.svg" />
            <img class="image-2" src="static/img/image-4.png" />
          </div>
          <div class="text-wrapper-16">Pickup information</div>
        </div>
        <div class="overlap-9">
          <div class="overlap-10">
            <div class="overlap-wrapper">
              <div class="overlap-group-2">
                <div class="ellipse-2"></div>
                <div class="rectangle-2"></div>
              </div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="ellipse-wrapper"><div class="ellipse-3"></div></div>
            </div>
            <div class="group-2">
              <div class="overlap-group-2">
                <div class="ellipse-2"></div>
                <div class="rectangle-2"></div>
              </div>
            </div>
            <div class="overlap-group-3">
              <div class="text-wrapper-7">Consignment object</div>
              <div class="text-wrapper-17">Hazardous goods</div>
            </div>
            <div class="text-wrapper-18">Packaging</div>
            <div class="text-wrapper-19">Additional loading equipment</div>
            <div class="text-wrapper-20">Given</div>
            <div class="text-wrapper-21">Given</div>
            <div class="overlap-11">
              <div class="text-wrapper-22">Euro pallets</div>
              <div class="text-wrapper-22">Euro pallets</div>
            </div>
            <div class="text-wrapper-23">Item name*</div>
            <div class="text-wrapper-24">Packaging type*</div>
            <div class="text-wrapper-25">L (cm)</div>
            <div class="text-wrapper-26">W (cm)</div>
            <div class="text-wrapper-27">H (cm)</div>
            <div class="text-wrapper-28">Net weight*</div>
            <div class="text-wrapper-29">Number of units*</div>
            <img class="line-7" src="static/img/line-24.svg" />
            <img class="line-8" src="static/img/line-24.svg" />
            <img class="line-9" src="static/img/line-24.svg" />
            <img class="line-10" src="static/img/line-24.svg" />
            <img class="line-11" src="static/img/line-28.svg" />
            <img class="line-12" src="static/img/line-28.svg" />
            <img class="line-13" src="static/img/line-32.svg" />
            <img class="line-14" src="static/img/line-32.svg" />
            <img class="line-15" src="static/img/line-32.svg" />
            <img class="line-16" src="static/img/line-28.svg" />
            <img class="line-17" src="static/img/line-28.svg" />
            <div class="polygon-wrapper"><img class="polygon" src="static/img/polygon-2.svg" /></div>
          </div>
          <div class="text-wrapper-30">Shipment information</div>
        </div>
        <div class="overlap-12">
          <div class="overlap-10"><div class="text-wrapper-31">Insert additional information here.</div></div>
          <div class="text-wrapper-30">Additional&nbsp;&nbsp;details</div>
        </div>
        <div class="overlap-13">
          <div class="group-3">
            <div class="overlap-group-2">
              <div class="ellipse-2"></div>
              <div class="rectangle-2"></div>
            </div>
          </div>
          <div class="rectangle-3"></div>
          <div class="text-wrapper-32">Sender information</div>
          <div class="rectangle-4"></div>
          <div class="group-4">
            <div class="ellipse-wrapper"><div class="ellipse-3"></div></div>
          </div>
          <div class="group-5">
            <div class="overlap-14">
              <div class="ellipse-4"></div>
              <div class="text-wrapper-33">Logo of Customer</div>
            </div>
          </div>
          <div class="text-wrapper-34">Use my contact details</div>
          <div class="text-wrapper-35">Company’s name</div>
          <div class="text-wrapper-36">Contact Person</div>
          <div class="text-wrapper-37">Phone number, E-Mail address</div>
          <p class="text-wrapper-38">Street and house number, City Code and City, Country</p>
          <img class="line-18" src="static/img/line-24.svg" />
        </div>
        <div class="overlap-15">
          <div class="text-wrapper-16">Your chosen pickup offer</div>
          <div class="overlap-16">
            <div class="text-wrapper-39">Company’s name</div>
            <div class="text-wrapper-40">Offer</div>
            <div class="text-wrapper-41">Earliest pickup date</div>
            <div class="text-wrapper-42">28.11.2023</div>
            <div class="text-wrapper-43">€ 30 / kilo</div>
            <div class="text-wrapper-44">Sustainability rate</div>
            <img class="line-19" src="static/img/line-24.svg" />
            <div class="overlap-group-4">
              <div class="rectangle-5"></div>
              <img class="line-20" src="static/img/line-18.svg" />
              <img class="line-21" src="static/img/line-19.svg" />
            </div>
            <img class="image-3" src="static/img/image-26.png" />
            <img class="image-4" src="static/img/image-26.png" />
          </div>
          <div class="overlap-17">
            <img class="rectangle-6" src="static/img/rectangle-19.png" />
            <div class="text-wrapper-45">Details</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
